<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>
      <sectionGroup name="businessObjects">
        <sectionGroup name="crystalReports">
          <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
          <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
      </sectionGroup>
    </configSections>

    <businessObjects>
      <crystalReports>
        <rptBuildProvider>
          <add embedRptInResource="true" />
        </rptBuildProvider>
        <crystalReportViewer>
          <add key="ResourceUri" value="~/crystalreportviewers13" />
        </crystalReportViewer>
      </crystalReports>
    </businessObjects>-->
  <connectionStrings configSource="connectionString.config"/>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="LogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="webapp.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.codedom>
    <compilers>
      <compiler language="c#" extension=".cs" compilerOptions="/d:TRACE" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1"/>
    </compilers>
  </system.codedom>
  
  <system.web>
    <!--<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"> </compilation>-->
    <!--<pages validateRequest="false" autoEventWireup="true"  maintainScrollPositionOnPostBack="true" masterPageFile="~/VisitelMasterPage.master" enableViewStateMac="false" enableEventValidation="false">-->
    <globalization requestEncoding="iso-8859-15" responseEncoding="utf-8"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>

    <pages validateRequest="false" autoEventWireup="true" maintainScrollPositionOnPostBack="true" enableViewStateMac="false" enableEventValidation="false" enableSessionState="true">
      <controls>
        <add tagPrefix="uc1" src="~/UserControl/EditSetting.ascx" tagName="EditSetting"/>
        <!--<add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET" />-->
        
        <add tagPrefix="CR" namespace="CrystalDecisions.Web" assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </controls>
      <namespaces>
        <add namespace="VisitelWeb.Visitel.Pages"/>
      </namespaces>
    </pages>
    <sessionState mode="InProc" timeout="540"></sessionState>
    <compilation debug="true" defaultLanguage="vb" targetFramework="4.5.1">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>

    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <!--<pages theme="redmond" styleSheetTheme="redmond"  clientIDMode="AutoID"/>-->
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="32768" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <appSettings>

    <add key="ProjectName" value="TurboPAS"/>
    <add key="LastPublishDate" value="[20140201]"/>
    <add key="CurrentVersion" value="3.0.0"/>

    <!--federal exclusions database (.zip) url-->
    <add key="OigFederalExclusionsUrl" value="http://oig.hhs.gov/exclusions/downloadables/updatedleie.zip"/>
    <!--state exclusions database url-->
    <!--<add key="OigStateExclusionsUrl" value="https://oig.hhsc.state.tx.us/Exclusions/DownloadExclusionsFile.aspx"/>-->
    <add key="OigStateExclusionsUrl" value="https://oig.hhsc.state.tx.us/oigportal/EXCLUSIONS/tabid/81/ctl/DOW/mid/407/Default.aspx"/>
    
    <!--.DBF folder name-->
    <add key="OigExclusionsFolder" value="~\OIG\"/>
    <!--downloaded federal exclusions database (.zip) file name-->
    <add key="OigFederalExclusionsZipFileName" value="updatedleie.zip"/>
    <!--.DBF file name without extension-->
    <add key="OigFederalExclusionsDbfFileName" value="UPDATED"/>
    
    <!--.txt file name without extension-->
    <add key="OigStateExclusionsTxtFileName" value="SANC2rev.txt"/>

    <!--.xls file name without extension-->
    <add key="OigStateExclusionsXlsFileName" value="SANC2rev.xls"/>


    <!--Tex Med Connect Link-->
    <add key="TexMedConnectLink" value="https://secure.tmhp.com/TexMedConnect/"/>

    <!--Crimcheck Link-->
    <add key="CrimcheckLink" value="http://secure.txdps.state.tx.us/"/>

    <!--MisConduct Request Link-->
    <add key="MisConductRequestLink" value="http://www.dads.state.tx.us/providers/NF/credentialing/sanctions/index.cfm"/>
    
    <!--Secured FTP Port Number-->
    <add key="SFTPPortNumber" value="22"/>
    <!--Secured FTP Certificate Key-->
    <add key="SFTPCertKey" value="ssh-dss 1024 07:f3:b5:fc:e5:dc:a1:01:53:dd:85:a5:e1:b0:34:d2"/>
    <!--Secured FTP Local Directory-->
    <add key="LocalDirectory" value="C:\TurboPAS\"/>
    <add key="EDIFileDateFormat" value="yyyyMMddHHmmss"/>
    <add key="TurboPASApiSecretKey" value="TurboPasApi-78E737D8-8D9D-4FCC-A8A1-5ABE82C18488-2014"/>

    <add key="AsyncPostBackTimeout" value="400"/>

  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TurboPAS WebServiceSoap" closeTimeout="Infinite"
          openTimeout="Infinite" receiveTimeout="Infinite" sendTimeout="Infinite"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/TurboPasApi/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="TurboPAS WebServiceSoap"
        contract="TurboPasApi.TurboPASWebServiceSoap" name="TurboPAS WebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>