<?xml version="1.0"?>
<connectionStrings>

  <!--Connection String Using Sql Server Authentication[Start]-->

  <add name="ConnString" connectionString=" Data Source=DESKTOP-E0PAJ2O;Initial Catalog=TurboDB;User ID=sa;Password=Anjan@2012" providerName="System.Data.SqlClient"/>

  <!--<add name="ConnString" connectionString=" Data Source=Anjan-PC\MSSQLSERVER2008;Database=test;User ID=sa;Password=Anjan2008" providerName="System.Data.SqlClient"/>--> <!--Both way connection work-->
  <!--<add name="ConnString" connectionString=" Data Source=ARAHAMAN-139TX;Initial Catalog=TurboDB;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->
  <!--Connection String Using Sql Server Authentication[End]-->

  <!--Connection String Using Windows Authentication[Start]-->

  <!--<add name="ConnString" connectionString="Initial Catalog=TurboDB;Data Source=(local);Integrated Security=SSPI;"/>-->
  <!--<add name="ConnString" connectionString="Initial Catalog=TurboDB;Data Source=ANJAN-PC;Integrated Security=SSPI;"/>-->
  <!--<add name="ConnString" connectionString="Data Source=ANJAN-PC; Initial Catalog=TurboDB;Persist Security Info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->


<!--<add name="ConnString" connectionString="Initial Catalog=TurboDB;Data Source=S97-74-228-228;Integrated Security=SSPI;"/>-->
  <!--<add name="ConnString" connectionString="Initial Catalog=TurboDB;Data Source=ARAHAMAN-139TX;Integrated Security=SSPI;"/>-->
  
  <!--Connection String Using Windows Authentication[End]-->



</connectionStrings>